<div class="container">

	<div ng-if="signUpCtrl.signUpSuccess">Your information has been saved</div>

	<div ng-if="!signUpCtrl.signUpSuccess">
	<h3>Sign up for our newsletter</h3>
	    <fieldset>
	      <legend></legend>
	      <form name='signUpForm' class="form" novalidate>

	      <div class="row">
	      	<div class="form-group col-xs-6 col-lg-3">
	      		<label for="firstname">First Name</label>
		        <input class="form-input form-control" type="text" name="firstname" placeholder="First Name"
		          ng-model="signUpCtrl.user.firstname"
		          required>
		          <!-- {{ signUpCtrl.user.firstname }} -->
		          <span
		            ng-if="signUpForm.firstname.$error.required && signUpForm.firstname.$touched"
		            class="error-message">
		            required
		          </span>
		          <br>
		        </div>
		    </div>

			<div class="row">
	      	<div class="form-group col-xs-6 col-lg-3">
		        <label for="lastname">Last Name</label>
		        <input class="form-input form-control" type="text" name="lastname" placeholder="Last Name"
		          ng-model="signUpCtrl.user.lastname"
		          required>
		          <!-- {{ signUpCtrl.user.lastname }} -->
		          <span
		            ng-if="signUpForm.lastname.$error.required && signUpForm.lastname.$touched">
		            required
		          </span>
		          <br>
		   		</div>
	      	</div>

	    <div class="row">
	    	<div class="form-group col-xs-6 col-lg-3">
	    	<label for="email">Email Address</label>
	        <input class="form-input form-control" type="email" name="email" placeholder="Email Address"
	          ng-model="signUpCtrl.user.email"
	          required>
	          <!-- {{ signUpCtrl.user.email }} -->
	          <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
	            Must be a valid email address: handle@domain format
	          </span>
	          <br>
	        </div>
		</div>

		<div class="row">
	      	<div class="form-group col-xs-6 col-lg-3">
	        <label for="phone">Phone Number</label>
	        <input class="form-input form-control" type="text" name="phone" placeholder="Phone ###-###-####"
	          ng-model="signUpCtrl.user.phone"
	          pattern="(\d{3})-(\d{3})-(\d{4})"
	          required>
	          <!-- {{ signUpCtrl.user.phone }} -->
	          <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
	            Phone must be in the format ###-###-####.
	          </span>
	          <br>
	    	</div>
	    </div>

	    <div class="row">
	    	<div class="form-group col-xs-6 col-lg-3">
	    	<label for="favitem">Favourite Item</label>
	    	<span class="form-note">*note to marker:  I have implemented the bonus.  It is implemented such that the validation is called automatically (using debounce feature) after just under a second (on first use, removing focus is required, thereafter not).</span>
	    	<!-- <input class="form-input form-control" type="text" name="favitem" placeholder="Item code"
	          ng-model="signUpCtrl.favItemShortName"
	          ng-blur="signUpCtrl.validateFavItem();"
	          required> -->
	        <input class="form-input form-control" type="text" name="favitem" placeholder="Item code"
	          ng-model="signUpCtrl.favItemShortName"
	          ng-model-options="{ debounce: 800 }"
	          required item-exists><!--validItem: {{signUpForm.$error.validItem}}    { updateOn: 'blur' }  -->
	          <!-- <span
	            ng-if="signUpForm.favitem.$error.required && signUpForm.favitem.$touched">
	            required
	          </span> -->
	          <!-- <span
	            ng-if="(signUpCtrl.searchInvalid) && signUpForm.favitem.$touched">
	            No such item found
	          </span> -->
	          <span
	            ng-if="(!signUpForm.favitem.$valid) && signUpForm.favitem.$touched">
	            No such item found
	          </span>
	          <br>
	    	</div>
	    </div>

	    <div class="row">
		    <div class="form-group col-xs-6 col-lg-3">
		        <button
		          ng-disabled="signUpForm.$invalid"
		          ng-click="signUpCtrl.submit()">Submit</button>

		          <!-- <div style="margin-top: 10px;">
		            Form valid? {{ signUpForm.$valid }}
		          </div> -->
		    </div>
		</div>

	      </form>
	    </fieldset>

	    <!-- <div id="info" ng-if="signUpCtrl.saved">
	      firstname: {{ signUpCtrl.user.firstname}} <br>
	      Email: {{ signUpCtrl.user.email}} <br>
	      Phone: {{ signUpCtrl.user.phone }} <br>
	      favItem:  {{ signUpCtrl.favItemShortName }}
	    </div> -->
	</div>

</div>